*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
  }


  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
body{
    padding: 0;
    margin: 0;
    background-color: white;
}

img{
    margin: 0;
    padding: 0;
}

.imageContainer{
    width: 30%;
    height: 100vh;
    float:left;
}

.backImage{
    width: auto;
    min-width: 150px;
    max-width: 600px;
}

.container{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.group{
    display: flex;
    flex-direction: column;
}

.mainPage{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color:black;
}

.formContainer{
    background-color: gainsboro;
    color:black;
    padding: 2rem;
    filter: drop-shadow(3px 5px 0.175rem rgb(167, 167, 167));
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.formAlignment{
    display: flex;
    gap: 1vw;
}

.header{
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.footer{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input{
    border-color: #E5E7EB;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    height: 25px;
}

input[type=password]:invalid{
    border-color: red;
    outline:none;
}

input[type=text]:focus{
    filter:drop-shadow(0px 0px 0.1rem rgb(128, 128, 128));
    border-color:blue;
    outline:none;
}

input[type=tel]:focus{
    filter:drop-shadow(0px 0px 0.1rem rgb(128, 128, 128));
    border-color: blue;
    outline:none;
}

input[type=email]:focus{
    filter:drop-shadow(0px 0px 0.1rem rgb(128, 128, 128));
    border-color: blue;
    outline:none;
}

input[type=password]:focus{
    filter:drop-shadow(0px 0px 0.1rem rgb(128, 128, 128));
    border-color: blue;
    outline:none;
}

a{
    text-decoration: none;
    color: peru;
    font-weight: 700;
}

.register{
    border-width: 1px;
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: peru;
    color: white;
    font-weight: 700;
    filter:drop-shadow(0px 0px 0.2rem rgb(145, 144, 144))
}

.register:active{
    background-color:skyblue;
}

input[type=password]:valid{
    border-color: greenyellow;
    outline:none;
}