*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
    
  }

  @font-face {
    font-family: 'santello_regularregular';
    src: url('res/santello-webfont.woff2') format('woff2'),
         url('res/santello-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

  @font-face {
    font-family: 'norsebold';
    src: url('res/norse-bold-webfont.woff2') format('woff2'),
         url('res/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
body{
    padding: 0;
    margin: 0;
    background-color: white;
    z-index: 2;
}

img{
    margin: 0;
    padding: 0;
}

.imageContainer{
    width: 30%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url(res/isaac--UFPNNT51iI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}


.container{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.group{
    display: flex;
    flex-direction: column;
}

.mainPage{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color:black;
    z-index: 2;
    font-family: santello_regularregular;
    min-height: 100vh;
}

.formContainer{
    background-color: gainsboro;
    color:black;
    padding: 2rem;
    filter: drop-shadow(3px 5px 0.175rem rgb(167, 167, 167));
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 100%;
    overflow: hidden;
}

.formAlignment{
    display: flex;
    gap: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    max-width: 500px;
    min-width: 350px;
    flex-wrap: wrap;
}

.header{
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    z-index: 2;
    overflow: hidden;
}

.footer{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
}

input{
    border-color: #E5E7EB;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    height: 25px;
}

input[type=password]:invalid{
    border-color: red;
    outline:none;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus {
    filter: drop-shadow(0px 0px 0.1rem rgb(128, 128, 128));
    border-color: blue;
    outline: none;
}

a{
    text-decoration: none;
    color: peru;
    font-weight: 700;
}

.register{
    border-width: 1px;
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: peru;
    color: white;
    font-weight: 500;
    filter:drop-shadow(0px 0px 0.2rem rgb(145, 144, 144));
    font-family: santello_regularregular;
    font-size: 20px;
}

.register:active{
    background-color:skyblue;
}

input[type=password]:valid{
    border-color: greenyellow;
    outline:none;
}

.odinfont{
    font-family: norsebold;
}

.overlay {
    position: absolute;
    top: 25%;
    left: 0;
    width: 30%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5); /* Schimbă opacitatea și culoarea după preferințe */
    color: white;
    display: flex;
    font-size: 7rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.overlay2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoutout{
    font-size:12px;
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 1;
}